<template>
	<section>
		<BaseCard>
			<h2>Page not Found</h2>
			<p>
				This page could not be found - maybe check out all our
				<RouterLink to="/coaches">coaches?</RouterLink>
			</p>
		</BaseCard>
	</section>
</template>

<script>
import BaseCard from '@/components/UI/BaseCard.vue';
import { RouterLink } from 'vue-router';

export default { components: { BaseCard, RouterLink } };
</script>

<style scoped></style>
