<template>
	<div>
		<BaseDialog :show="!!error" title="An Error Occured!" @close="handleError">
			<p>{{ error }}</p>
		</BaseDialog>
		<section>
			<BaseCard>
				<header>
					<h2>Requests Received</h2>
				</header>
				<BaseSpinner v-if="isLoading" />
				<ul v-else-if="hasRequests && !isLoading">
					<RequestItem
						v-for="request in receivedRequests"
						:key="request.id"
						:email="request.userEmail"
						:message="request.message"
					/>
				</ul>
				<h3 v-else>You haven't received any requests yet!</h3>
			</BaseCard>
		</section>
	</div>
</template>

<script>
import RequestItem from '@/components/requests/RequestItem.vue';
import BaseCard from '@/components/UI/BaseCard.vue';
import BaseSpinner from '@/components/UI/BaseSpinner.vue';
import BaseDialog from '@/components/UI/BaseDialog.vue';

export default {
	created() {
		this.loadRequests();
	},
	data() {
		return {
			isLoading: false,
			error: null,
		};
	},
	computed: {
		receivedRequests() {
			return this.$store.getters['requests/requests'];
		},
		hasRequests() {
			return this.$store.getters['requests/hasRequests'];
		},
	},
	methods: {
		async loadRequests() {
			this.isLoading = true;
			try {
				await this.$store.dispatch('requests/loadRequests');
			} catch (error) {
				this.error = error.message || 'Something failed!';
			}
			this.isLoading = false;
		},
		handleError() {
			this.error = null;
		},
	},
	components: { BaseCard, RequestItem, BaseSpinner, BaseDialog },
};
</script>

<style scoped>
header {
	text-align: center;
}

ul {
	list-style: none;
	margin: 2rem auto;
	padding: 0;
	max-width: 30rem;
}

h3 {
	text-align: center;
}
</style>
