<template>
	<section>
		<BaseCard>
			<h2>Register as a coach now!</h2>
			<CoachForm @save-data="saveData" />
		</BaseCard>
	</section>
</template>

<script>
import CoachForm from '@/components/coaches/CoachForm.vue';
import BaseCard from '@/components/UI/BaseCard.vue';

export default {
	methods: {
		saveData(data) {
			this.$store.dispatch('coaches/registerCoach', data);
			this.$router.replace('/coaches');
		},
	},
	components: { CoachForm, BaseCard },
};
</script>

<style scoped></style>
