<template>
	<div>
		<BaseDialog :show="!!error" title="An Error Occured!" @close="handleError">
			<p>{{ error }}</p>
		</BaseDialog>
		<section>
			<CoachFilter @change-filter="setFilters"></CoachFilter>
		</section>
		<section>
			<BaseCard>
				<div class="controls">
					<BaseButton mode="outline" @click="loadCoaches(true)"
						>Refresh</BaseButton
					>
					<BaseButton link to="/auth?redirect=register" v-if="!isLoggedIn"
						>Login to Register as Coach</BaseButton
					>
					<BaseButton
						link
						to="/register"
						v-if="!isCoach && !isLoading && isLoggedIn"
					>
						Register as Coach
					</BaseButton>
				</div>
				<div v-if="isLoading">
					<BaseSpinner />
				</div>
				<ul v-else-if="hasCoaches">
					<CoachItem
						v-for="coach in filteredCoaches"
						:key="coach.id"
						:id="coach.id"
						:first-name="coach.firstName"
						:last-name="coach.lastName"
						:areas="coach.areas"
						:rate="coach.hourlyRate"
					/>
				</ul>
				<h3 v-else>No Coaches Found.</h3>
			</BaseCard>
		</section>
	</div>
</template>

<script>
import CoachItem from '@/components/coaches/CoachItem.vue';
import BaseCard from '@/components/UI/BaseCard.vue';
import BaseButton from '@/components/UI/BaseButton.vue';
import CoachFilter from '@/components/coaches/CoachFilter.vue';
import BaseSpinner from '@/components/UI/BaseSpinner.vue';
import BaseDialog from '@/components/UI/BaseDialog.vue';

export default {
	created() {
		this.loadCoaches();
	},
	data() {
		return {
			activeFilters: {
				frontend: true,
				backend: true,
				career: true,
			},
			isLoading: false,
			error: null,
		};
	},
	computed: {
		isLoggedIn() {
			return this.$store.getters.isAuth;
		},
		filteredCoaches() {
			const coaches = this.$store.getters['coaches/coaches'];
			return coaches.filter((coach) => {
				if (this.activeFilters.frontend && coach.areas.includes('frontend')) {
					return true;
				}
				if (this.activeFilters.backend && coach.areas.includes('backend')) {
					return true;
				}
				if (this.activeFilters.career && coach.areas.includes('career')) {
					return true;
				}
				return false;
			});
		},
		hasCoaches() {
			return !this.isLoading && this.$store.getters['coaches/hasCoaches'];
		},
		isCoach() {
			return this.$store.getters['coaches/isCoach'];
		},
	},
	methods: {
		setFilters(updatedFilteres) {
			this.activeFilters = updatedFilteres;
		},
		async loadCoaches(refresh = false) {
			this.isLoading = true;
			try {
				await this.$store.dispatch('coaches/loadCoaches', {
					forceRefresh: refresh,
				});
			} catch (error) {
				this.error = error.message || 'Something went wrong!';
			}
			this.isLoading = false;
		},
		handleError() {
			this.error = null;
		},
	},
	components: {
		CoachItem,
		BaseDialog,
		BaseCard,
		BaseButton,
		CoachFilter,
		BaseSpinner,
	},
};
</script>

<style scoped>
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.controls {
	display: flex;
	justify-content: space-between;
}
</style>
